
body {
  font-family: "Sofia", sans-serif;
  font-family: "Trirong", serif;
  font-family: sans-serif;

}

body h1 {
  font-family: "Sofia", sans-serif;
}

header.home {
  height: 7vh;
  padding-left: 10%;
}


header {
   text-align: left;
   color: #2F8F9D;
   font-size: 28px;
   margin-top: 0;
 }

header a:link { text-decoration: none;
  color: #2F8F9D;
   }

header a:visited { text-decoration: none;
  color:  #2F8F9D;
      }

header a:hover { color: #A97155; }




nav {
  font-family: "Trirong", serif;
   width: 100%;
   padding-right: 0px;
   top: 0;
   left: 0;
   text-align: right;
   background-color: white;
   z-index: 9999;

 }

nav a {
   text-decoration: none;


 }

 nav ul { list-style-type: none;
   margin: 0px;
   padding-right: 2em;
   font-size: 1.3em;
   font-weight: bold;
 }

 nav a:link { color: #2F8F9D; }

 nav a:visited { color: #2F8F9D; }

 nav a:hover { color: #A97155; }

 nav li {
   width: 40%;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 1em;
   padding-right: 1em;
   display: inline;
 }


div.image {
  font-family: "Times New Roman", Times, serif;
  color: white;
  background-image: url(images/bakerybackground.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  font-size: 20px;
  min-height: 50px;
  padding-left: 80px;

}

h2.text {
  color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  text-align: center;
}

p.main {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-right: 60%;
}
div.section {
  display: flex;
  flex-direction: row;
}

h2.head {
  font-family: "Trirong", serif;
  font-size: 1.8em;
  text-align: center;
  color: #A97155;
  margin-top: 30px;


}

hr.u {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 40%;
  text-align: center;
  margin-left:  30%;
  margin-bottom: 50px;
}

section.hero {
    margin-left: 9%;
    margin-right: 5%;

}

section.hero img {

    width: 200px;
    height: 300px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

section.hero p {
  margin-top: 20px;
  font-size: 20px;
  min-height: 50px;
  padding-left: 10px;
}

p.style {
  font-family: "Trirong", serif;
  text-align: center;


}

p a:link {
  text-decoration: none;
  color: #A97155;
  border: 1px solid;
  border-color: #A97155;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
}

p a:visited { color: #2F8F9D; }

p a:hover { color: #A97155; }

footer {
  font-size: .7em;
  font-style: italic;
  text-align: center;
  background-color: #99C4C8;
  padding-top: 20px;
  padding-bottom: 20px;

}

.fa {
  padding: 10px;
  font-size: 10px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: grey;
  color: white;
}

.fa-twitter {
  background: grey;
  color: white;
}

.fa-instagram {
  background: grey;
  color: white;
}
/* ------------Our Procduct---------- */

h2.product {
  font-family: "Trirong", serif;
  color: #A97155;
  font-size: 2em;
  text-align: center;
  margin-top: 50px;

}

hr.us2 {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 20%;
  text-align: center;
  margin-left:  39%;
  margin-bottom: 50px;
}

div.image2 {

  color: white;
  background-image: url(images/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  margin-top: 20px;

}

#frame {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20px;
  background-color: #F3E9DD;
}

div.section1 {
  margin-left:  8%;
  display: flex;
  flex-direction: column;

}
h2.product1 {
  font-family: "Trirong", serif;
  margin-right: 8%;
  margin-top: 30px;
  font-size: 23px;
}

section.hero1 {
    margin-left: 10%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;

}

section.hero1 img {
    width: 250px;
    height: 300px;
    padding-bottom: 15px;

  }

div.gallery:hover {
    border: 1px solid #777;
  }

div.gallery{
    margin-right: 50px;
    text-align: center;
    background-color: white;
    margin-bottom: 30px;
}
div.gallery p {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  margin-top: 0px;
}
div.desc {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    padding: 15px;
    text-align: center;
}

.gallery button {
  font-family: "Times New Roman", Times, serif;
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: #D5D5D5;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
/* ---------Catering & Event----------*/

div.body img {
  float:right;
  display: flex;
  flex-direction: row;

}
div.body h2 {
  font-family: "Trirong", serif;
  font-size: 1.8em;
  color:#A97155;
  text-align: center;
  margin-right: 50%;
}

div.image3 {

  color: white;
  background-image: url(images/cake_background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  margin-top: 20px;

}

div.body {

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  margin-top: 5%;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 8%;
  padding-bottom: 50px;
}

hr.us {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 15%;
  text-align: center;
  margin-left: 250px;
}

#frame1 {
    background-color: #F3E9DD;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 50%;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  #frame1 p {
      color: black;
      margin-top: 30px;
      margin-right: 10%;
      margin-left: 10%;
      font-size: 20px;
      text-align: center;
    }

/* ---------ABout US----------*/

h2.aboutus {
  font-family: "Trirong", serif;
  color: #A97155;
  font-size: 2em;
  text-align: center;
  margin-top: 5%;
}



hr.us1 {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 15%;
  text-align: center;
  margin-left:  42%;
}

p img {
  width: 50px;
  height: 50px;
}

#frame2 {
  background-color: #F3E9DD;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  padding-top: 1px;
  padding-bottom: 50px;

}

#frame2 p {
    color: black;

    margin-top: 70px;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 20px;
    text-align: center;
  }


/* ---------Contact US----------*/

div.form {
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 50px;
}
.form h3 {
  font-family: "Trirong", serif;
  font-size: 1.8em;
  color: #A97155;
  text-align: center;
}

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #2F8F9D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #A97155;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


@media  (max-width: 500px) {
  nav ul {
      margin-top: 10%;
  }
  nav li {
    width: 7em;
  }

  div.image {
    padding-top: 10px;
    height: 300px;
    padding-left: 30px;
  }
  .hero {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  h2.text {
    font-size: 15px;
  }
  p.main{
    font-size: 12px;

  }
  h2.head{
    padding-left: 42px;
  }
  div.section{
    display: flex;
    flex-direction: column;
    padding-left: 23%;
  }
  hr.u {
    padding-left: 100%;
  }
  section.hero p{

    padding-left: 0px;
    width: 200px;
  }

  #wrapper {
    height: 20px;
  }
  section.hero1 {
    display: flex;
    flex-direction: column;
  }
  section.hero1 img {
    width: 100%;
  }

div.body{
  margin-left: 10px;
  margin-right: 50px;
  margin-bottom: 55%;
}
  div.body img {
    width: 50%;
    float: right;
  }
  hr.us {
    margin-left: 17%;
  }
  #frame1 {
    width: 100%;
  }
  #frame2 {
    margin-left: 50px;
    margin-right: 50px;
  }

}

@media (max-width: 1024px) {
  nav ul {
      margin-top: 10%;
  }
  nav li {
    width: 7em;
  }

}
